body{
    background-color: cornflowerblue;
}
.container {
    border: 2px solid black;
    text-align:center;
    background-color:rgb(245, 211, 197);
    box-shadow: 2px 3px 8px;
    margin :6px ;
    margin-left :400px;


}
.navbar{
    box-shadow: 2px 2px 1px;
}
li{
    list-style-type:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.service{
    border : 3px solid black;
    background-color: rgb(243, 214, 219);
    box-shadow: 1px 1px 2px;
   
}